.thread-container {
    display: flex;
    gap: calc(var(--num-measure) * 2);
    padding: calc(var(--num-measure) * 2);
    width: -webkit-fill-available;
    height: fit-content;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

.thread-container:hover {
    background-color: rgba(255, 255, 255, 0.04);
}

.thread-content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--num-measure) / 2);
    width: -webkit-fill-available;
    height: fit-content;
}

.thread-user-info {
    display: flex;
    align-items: center;
    gap: var(--num-measure);
    font-weight: 600;
}

.thread-displayname {
    display: flex;
    align-items: center;
    gap: calc(var(--num-measure) / 2);
}

.thread-displayname a {
    text-decoration: none;
}

.thread-displayname a:hover {
    text-decoration: underline;
}

.thread-username {
    color: var(--text-second);
    font-weight: 400;
}

.thread-media-content {
    display: flex;
    gap: calc(var(--num-measure) / 2);
    margin-top: calc(var(--num-measure) * 2);
    width: 100%;
    max-height: 100%;
    border: solid 1px rgba(255, 255, 255, 0.15);
    border-radius: calc(var(--num-measure) * 2);
    overflow: hidden;
}

.thread-media-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: calc(var(--num-measure) / 1.5);
}

.thread-media-col a {
    position: relative;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

.thread-media-col .placeholder {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transform: scale(1.1);
}

.thread-media-col img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.2s;
}

.thread-media-col img[src] {
    opacity: 1;
}

.thread-stats {
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--num-measure);
    margin-top: calc(var(--num-measure) * 1.5);
    width: -webkit-fill-available;
    height: fit-content;
    color: var(--text-second);
}

.thread-stats button {
    display: flex;
    align-items: center;
    gap: calc(var(--num-measure) / 2);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}